@charset "UTF-8";

@font-face {
    font-family: 'Trajan';
    src: url('Fonts/Trajan Pro Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Tipos de Format()
opentype (otf)
trueType (ttf)
embedded-opentype
truetype-aat (apple advanced typography)
svg
*/


/*  Configurações Gerais  */

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Body  */
body {
    font-family: 'trajan';
    font-size: 20px;
    color: #e7e7e7;
    background-color: black;
    width: 100%;
    min-height: 100%;
    
    margin: 0;
    padding: 0;
}

/*  Menu  */

header {
    width: 100%;
    background-color: #0000002a;
    z-index: 3;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: center;  
}
header > img {
    width: 30%;
}

@media (max-width: 900px) {
    header > img {
    width: 70%;
}
}
/*  Parte Iterativa do Menu  */
.nave,
.nave:visited,
.nave:hover,
.nave:active {
    color: #e7e7e7;       
    text-decoration: none;
    transition: transform 0.2s ease;
}

.nave:hover {
    transform: scale(1.2); 
}
#interativo {
    order: 2;
    display: flex;
    gap: 70px;
}


#intersesao2 {
    display: flex;
    padding-top: 10px;
    width: 100%;
    z-index: 1;
    margin: 0;


}

#intersesao2 > img {
    align-self: flex-end;
    width: 100%;
    height: auto;
    margin-bottom: -1px;

}

/*  Parte que contem todo o conteudo  */

.container {
    margin-top: 250px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Sub Divs do container  */

.items {
    z-index: 1;
    width: 80%;
}

/*  Div que contem o mapa  */

#principal {
    display: flex;
    height: 100%; 
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#moldura {
    position: fixed;
    z-index: 1;
    display: flex;
    max-width: 80%;
    max-height: 70%;
    justify-content: center;
    
}

#map {
    
    max-width: 80%;
    max-height: 100%;
    width: auto;
    height: auto;
    
}

/*  Div que mantem os items afastados do mapa  */

#APOIO {
    
    z-index: -3;
    width: 100%;
    height: 90ch;
    max-width: 100%;
    max-height: 90%;
}

/*  Div que contem imagens e textos do site  */
#titlecont {
    text-align: center;
    background-color: #000000
}
#conteudo {
    background-color: black;
    padding: 10px; /* mais responsivo */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

/* Seções lado a lado */
.section1 {
    display: flex;
    align-items: center;
    gap: 40px; /* mais espaço entre texto e imagem */
}

/* Segunda seção invertida */
.section1.invertida2 {
    flex-direction: row-reverse;
}


.texto {
    flex: 1; 
    color: white;
}

.texto h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.texto p {
    font-size: 1.3rem;
    line-height: 1.6;
}


.imagem {
    flex: 1; 
}

.imagem img {
    width: 100%;      
    max-width: 100%;  
    height: auto;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
}

ul {
    font-size: 1rem;;
    list-style-type: circle;
    padding-left: 20px;

}
li {
    margin-bottom: 10px;
}

/* Quando a tela for menor que 1360px, os tamanhos mudam */
@media (max-width: 1360px) {
    .section1, .section1.invertida2 {
        flex-direction: column;
        text-align: center;
    }
    
    .texto h1 {
        font-size: 2rem;
    }
    li {

        text-align: justify;
    }
    .texto p {
        text-align: justify;
        font-size: 1rem;
    }
    
    .imagem img {
        max-width: 90%; 
    }

}


/* Rodapé */

#rodape {
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #E83046;
}

#linha {
  height: 2px;
  width: 100%;
  background: #ffffff;
  margin: 10px 0;
}

.lista {
    font-size: 22px;
    list-style-type: square;
    list-style-position: outside;
    padding-left: 1.5rem; 
    margin: 0;
}

#insta:hover {
    opacity: 70%;
}

#linke:hover {
    opacity: 70%;
}





/* Quando a tela for menor que 900px, os tamanhos mudam */
@media (max-width: 900px) {
#APOIO {
    height: 40ch;
}
#conteudo {
    flex-direction: column;
    align-items: center;
  }
#map {
    max-width: 80%;
}

}

/*Paginas segundarias*/


.videoprin {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    pointer-events: none;


}

.videoprin > iframe {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%; 
    height: 100%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
.conteudo-segu {
    margin: 0px 120px 0px 120px;
} }
@media (max-width: 738px) {
.conteudo-segu {
    margin: 0px 10px 0px 10px;

}
#APOIO {
    height: 30ch;
}
}

.conteudo-segu {
    display: flex;
    position: relative;
    z-index: 1;
    padding-top: 540px;
}

/* Todos os vetores do mapa */

rect  {
    fill: transparent;
    stroke-width: 5;
    stroke: transparent;
    transition-property: stroke;
    transition-duration: 1s;
}

path {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    fill: transparent;
    stroke-width: 5;
    stroke: transparent;
    transition-property: stroke;
    transition-duration: 1s;
}

#rect1:hover {
    stroke: rgb(253, 253, 253);
    box-shadow: #000000;
}
#rect2:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}
#rect3:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}
#rect4:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}
#rect5:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}
#rect6:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}
#rect7:hover {
    stroke: rgb(255, 255, 255);
}
#rect8:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}
#rect9:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}
#rect10:hover {
    stroke: rgb(255, 255, 255);
}
#rect11:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #fffafa;
}
#rect12:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}
#rect13:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}
#rect14:hover {
    stroke: rgb(255, 255, 255);
    box-shadow: #000000;
}






/*    <p class="textsegun">
                A Cidade das Lágrimas é a capital melancólica de Hallownest, onde a chuva nunca cessa. A paisagem urbana é composta por prédios altos, pontes imponentes e vitrais quebrados que revelam a antiga grandiosidade do lugar. A arquitetura nobre contrasta com o abandono e a decadência, transmitindo a impressão de uma glória perdida, agora tomada pela solidão.
            </p>

        </div>*/
